<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "New Post", new_post_path %></li>

    <% if current)user  %>
    <li><%= link_to "Logout", logout_path %></li>
    <li><%=  %></li>


  </ul>

</nav>
